@page "/examples/4"

<h2>Form with validation using FluentValidationValidator</h2>

<EditForm Model=_model OnValidSubmit="OnValidFormSubmit" OnInvalidSubmit="OnInvalidFormSubmit">
    <Blazored.FluentValidation.FluentValidationValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="name">Name:</label>
        <InputText class="form-control" id="name" @bind-Value=_model.Name />
        <ValidationMessage For="() => _model.Name" />
    </div>
    <div class="form-group">
        <label for="age">Age:</label>
        <InputNumber class="form-control" id="age" @bind-Value=_model.Age />
        <ValidationMessage For="() => _model.Age" />
    </div>
    <div class="form-group">
        <label for="address">Address:</label>
        <InputText class="form-control" id="address" @bind-Value=_model.Nested.Address />
        <ValidationMessage For="() => _model.Nested.Address" />
    </div>
    <input type="submit" value="Submit" class="btn btn-primary" />
</EditForm>

<DisplayMessages Messages="_messages" />