<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">BlazorForms</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="examples/1" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Example 1
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="examples/2" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Example 2
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="examples/3" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Example 3
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="examples/4" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Example 4
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="examples/5" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Example 5
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="examples/6" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Example 6
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="examples/7" Match="NavLinkMatch.All">
                <span class="oi oi-plus" aria-hidden="true"></span> Example 7
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
