@page "/examples/6" 

<h2>Telerik form auto generated from model</h2>

<TelerikForm Model="@_model"
             OnValidSubmit="OnValidFormSubmit" 
             OnInvalidSubmit="OnInvalidFormSubmit">
    <FormValidation>
        <Blazored.FluentValidation.FluentValidationValidator/>
    </FormValidation>
</TelerikForm>

<DisplayMessages Messages="_messages" />